body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    flex-direction: column;
}
/*this is the top of the website, the header*/
.headerTop {
    background-color: #003366;
    color: #fff;
    padding: 30px;
}

.box-header{
    padding: 10px;
    border: 10px solid #debd02;
    text-align: center;
    margin: 0 auto;
    width: max-content;
    margin-top: -10px;

}

/*text-align: center;*/
nav {
    background-color: #0054a5;
    color: #fff;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tech-tab {
    background-color: #007acc;
    color: #ffeb3b;
    padding: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.tech-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.tech-category {
  text-align: left;
  color: #ffeb3b;
}

.cards-container {
    display: flex;  /* Use flexbox to align cards horizontally */
    justify-content: space-between;  /* Space the cards apart, putting the hotdeals-card to the right */
}

.discount-card {
    background-color: #fff;
    width: 300px;
    height: 400px;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 200px;
  }

.hotdeals-card{
  background-color: #fff;
  width: 1250px;
  height: 500px;

  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cards {
    display: flex;  /* Use flexbox to align cards horizontally */
    justify-content: center;  /* Center the cards horizontally */
    gap: 20px;  /* Add some space between the cards */
}

.discount-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #007acc;
}

.discount-description {
    color: #333;
}

.search-bar {
    margin: 1rem 0;
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
}
/*box of logo size*/
.img-logo{

    border: 1px;
    padding: 5px;
    margin: 5px;
    width: 200px;

    background-color: #003366;
    color: #fff;

}
/*sign up box*/
.sign-up {
    border: 1px;
    padding: 5px;
    margin: 5px;
    width: 150px;
    background-color: #ffeb3b;
    color: #000000;
    float: right;
    cursor: pointer;
    margin-right: 10px;
    border: 5px solid #debd02;
    text-align: center;
    display: block;
    clear: both;

}

.sign-up:hover, .sign-up:focus{
    background-color: #ffd900;
}


.login {
    border: 1px;
    padding: 5px;
    margin: 5px;
    width: 150px;
    background-color: #ffeb3b;
    color: #000000;
    float: right;
    cursor: pointer;
    margin-right: 10px;
    border: 5px solid #debd02;
    text-align: center;
    display: block;
    clear: both;
}

.login:hover, .login:focus{
    background-color: #ffd900;
}

/*padding : 2rem */
section {
    padding: 0.5rem;
    flex: 1;
}

footer {
    background-color: #003366;
    color: #fff;
    padding: 1rem;
    text-align: center;
}



.filterbutton{
        background-color: #FFE133;
        color: black;
        padding: 14px;
        height: 60px;
        font-size: 16px;
        border: none;
        cursor: pointer;

    }

    .filterbutton:hover, .filterbutton:focus{
        background-color: #ffd900;
    }

    #UserInput{
        box-sizing: border-box;
        background-position: 14px 12px;
        background-repeat: none;
        font-size: 16px;
        padding: 14px 20px 12px 45px;
        border:none;
        border-bottom: 1px solid pink;

    }

    #UserInput:focus {outline: 3px solid #ddd;}


    .dropdown{
        position: relative;
        display: inline-block;
    }

    .dropdown-blocks{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #b3b0b0;
        min-width: 230px;
        overflow: auto;
        border:1px solid #ddd;
        z-index: 1;
    }

    .dropdown-blocks a{
        color: black;
        display: block;
        padding: 12px 16px;
    }

    .dropdown a:hover {background-color: white;}

    .show{display: block;}

    .searchfilter{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

    }
/*justify-content: space-between;*/
    .clicksearch{
        display: flex;
        align-items: center;
        margin-right:10px;

    }

    .cantfind{
        background-color: #FFE133;
        color: black;
        padding: 14px 14p;
        
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        display:inline-block;
        border: none;
        cursor: pointer;
        margin-left: 5px;
        height: 60px;


    }
    .signupBox{
        text-align: center;
       
    }
    .textbox{
        width: 100%;
    }

    .footerNew{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: gray;
        color: white;
        text-align: center;
    }
    .askForLog{
        text-align: center;

    }
    .lablesForm{
        text-align: left;
    }
    .sentece{
        text-align: center;
    }

.navbar-dark .navbar-nav .nav-link.dropdown-toggle:hover {
    background-color: transparent; 
}


  
.navbar-dark .navbar-nav .nav-link.dropdown-toggle:focus {
    background-color: black; 
}

.discount-description{
    margin-bottom: 200px;
}
    

